In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta, datetime
from statistic import Statistic
pd.set_option('display.max_colwidth', -1)

In [2]:
# for autoreload modules
%load_ext autoreload
%autoreload 2

In [3]:
# ky9
path_data = '/mnt/files/workdata/work/merchants/merchant_32_ky9_2020-05-12_white_visa/'
col_names = ['id', 'date_only', 'date_cb_only','status']
df = pd.read_csv(path_data + '02_pure_data/ky9_for_resolve.csv', dtype=str, usecols=col_names)#nrows=99,

In [4]:
white_list_for_prod = False

In [9]:
df.date_only = pd.to_datetime(df.date_only)
df.date_cb_only = pd.to_datetime(df.date_cb_only)

In [44]:
end_date = max(df_bad.date_only)
end_date

Timestamp('2020-04-30 00:00:00')

In [45]:
df_bad = Statistic.get_dt_bad(df)
end_date_cb = max(df_bad.date_cb_only)
end_date_cb

Timestamp('2020-05-08 00:00:00')

In [61]:
df_bad.head()

    status date_cb_only  date_only                        id
354  true  2019-02-16   2018-12-20  427082******7013_2023-03
425  true  2019-01-04   2018-12-20  414720******4963_2019-11
489  true  2019-01-23   2018-12-20  498442******6675_2021-10
490  true  2019-01-04   2018-12-20  498406******0153_2021-12
752  true  2019-01-04   2018-12-21  434769******7655_2021-10

In [18]:
Statistic.get_table(df, 'status')

Counter({'false': 4256210, 'true': 56541})

In [21]:
teach = df.copy()

In [68]:
teach.shape[0]

3902158

In [74]:
teach.iloc[3902157:3902159,:]

        status date_cb_only  date_only                        id
3902157  false 2020-03-19   2020-03-19  419002******8611_2024-11

In [23]:
if not white_list_for_prod:
    start_test = datetime.strptime("2020-03-20", '%Y-%m-%d')
    teach = teach[teach.date_only < start_test].copy()        
    status_good = Statistic.get_dt_good(teach).status.values[0]
    mask = (teach.status.isin(Statistic.BAD_STATUSES)) & (teach.date_cb_only > start_test)
    teach.loc[mask ,'status'] = status_good
    end_date =  max(teach.date_only)

In [20]:
Statistic.get_table(teach,'status')

Counter({'false': 3851272, 'true': 50886})

In [9]:
n_trusted_days = 35

In [11]:
end_trusted_day = end_date - timedelta(days=n_trusted_days)
end_trusted_day

Timestamp('2020-04-07 00:00:00')

In [14]:
bad_ids = teach_bad.id.unique()
bad_ids.__class__

numpy.ndarray

In [ ]:
len(bad_ids)

In [17]:
mask = (teach.date_only < end_trusted_day ) & (~teach.id.isin(bad_ids))

In [19]:
white_list_id = teach[mask].id.unique()

In [20]:
w_l = pd.DataFrame(data={id: white_list_id})

In [1]:
white_list_name = 'white_list_for_ky9_trusted_' +  end_trusted_day.strftime('%Y-%m-%d') + '.csv'
white_list_name

NameError: name 'end_trusted_day' is not defined

In [3]:
z = [""] *10
z

['', '', '', '', '', '', '', '', '', '']