In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# for autoreload modules
%load_ext autoreload
%autoreload 2

In [4]:
from analyzer import HelperAnalyzer, AnalyzerPrediction
from utils import Statistic, UtilsKy
from factors import Factor

In [5]:
# kyw3
# path_data = '/mnt/files/workdata/work/merchants/merchant_33_kyw3_2020-06-05/04_experiments/ex_01_some_teach/'
# db_teach = pd.read_csv(path_data + 'db_teach_2_digit_status_kyw3_from_2019-11-20_to_2020-03-13.csv', dtype=str)
# db_test = pd.read_csv(path_data + 'db_test_2_digit_status_kyw3a_from_2020-04-06_to_2020-05-06.csv' , dtype=str)
# white = pd.read_csv(UtilsKy.WHITE_KYW3 , dtype=str)

# teach = pd.read_csv(path_data + 'teach_kyw3_from_2019-11-20_to_2020-03-13.csv', dtype=str)
# test = pd.read_csv(path_data + 'test_kyw3_from_2020-04-06_to_2020-05-06.csv', dtype=str)

In [33]:
# ky9
path_data = '/mnt/files/workdata/work/merchants/merchant_32_ky9_2020-05-12_white_visa/04_experiments/'
db_teach = pd.read_csv(UtilsKy.DB_TEACH_KY9, dtype=str)
db_test = pd.read_csv(UtilsKy.DB_TEST_KY9, dtype=str)
# white = pd.read_csv(UtilsKy.WHITE_KY9 , dtype=str)

teach = pd.read_csv(path_data + 'ex_05_ky9_xgb_jupiter_2020_07_08/teach_ky9_2020-05-12_2020-01-12.csv', dtype=str)
test = pd.read_csv(path_data + 'ex_05_ky9_xgb_jupiter_2020_07_08/test_ky9_2020-02-01_2020-04-07.csv', dtype=str)

In [34]:
db_teach.columns

Index(['amount', 'bank_currency', 'bin', 'client_hour', 'date_cb_only',
       'date_only', 'day_of_week', 'hour', 'id',
       'is_bank_country_equal_country', 'is_ip_country_equal_country',
       'latitude', 'longitude', 'order_id', 'phone_2_norm', 'status',
       'status_chargeback', 'time', 'is_city_resolved', 'country_code3',
       'country', 'ip', 'network', 'num_network', 'is_usa', 'is_can', 'is_bra',
       'distance_l2', 'distance_hav', 'distance_sub', 'gender',
       'amount_deviation', 'count_months_to_end_card', 'dgender', 'is_feman',
       'is_man', 'is_undef'],
      dtype='object')

In [ ]:
#============================================================================ Teach Test is_phone_standart ======

In [36]:
teach['phone_len'] = teach.phone.apply(lambda x: len(x))

In [38]:
Statistic.get_table(teach, 'phone_len')

Counter({11: 282020,
         10: 457166,
         13: 123,
         15: 154,
         14: 137,
         12: 533,
         16: 8,
         9: 204,
         20: 39,
         18: 275,
         17: 1490,
         8: 8,
         7: 2,
         21: 8})

In [39]:
factor_is_phone = Factor.encode_length(teach)

In [40]:
db_teach['is_phone_standart'] = Factor.encode_length(teach)
db_test['is_phone_standart'] = Factor.encode_length(test)

In [42]:
st_teach = Statistic.get_stat_summarise_by_column(db_teach, 'is_phone_standart')

In [43]:
st_test = Statistic.get_stat_summarise_by_column(db_test, 'is_phone_standart')

In [44]:
all_len_zip = pd.merge(st_teach, st_test, how='left', on=['is_phone_standart'])

In [45]:
all_len_zip.loc[:, ['p_x', 'p_y']]

                        p_x       p_y
is_phone_standart
0                  0.513456  0.719531
1                  0.491283  0.496529

In [46]:
Statistic.get_table(db_teach, 'is_phone_standart')

Counter({0: 285001, 1: 457166})

In [ ]:
#============================================================================ Teach zip_num ====================

In [28]:
teach['zip_num'] = teach.zip.apply(lambda x: re.sub('\\D', '', x))

In [29]:
teach['zip_char'] = teach.zip.apply(lambda x: re.sub('\\d', '', x))

In [30]:
teach_sub = teach[teach.zip_char != '']

In [20]:
teach.shape[0]

433425

In [31]:
teach_sub.shape[0]

17746

In [41]:
teach['is_zip_numeric']  = np.where(teach.zip_char != '', 1, 0)

In [61]:
teach['len_zip'] = teach.zip.apply(lambda x: len(x))

In [63]:
teach['is_len_zip_standart']  = np.where(teach.len_zip == 5, 1, 0)

In [83]:
st_zip_num_teach = Statistic.get_stat_summarise_by_column(teach, 'is_zip_numeric')

In [84]:
st_len_zip_teach = Statistic.get_stat_summarise_by_column(teach, 'len_zip')

In [104]:
st_len_zip_standart_teach = Statistic.get_stat_summarise_by_column(teach, 'is_len_zip_standart')

In [ ]:
#============================================================================ Test zip_num =======================

In [64]:
test['zip_num'] = test.zip.apply(lambda x: re.sub('\\D', '', x))

In [65]:
test['zip_char'] = test.zip.apply(lambda x: re.sub('\\d', '', x))

In [99]:
teach['is_len_zip_standart']  = np.where(teach.len_zip == 5, 1, 0)

In [66]:
test_sub = test[test.zip_char != '']

In [67]:
test.shape[0]

58862

In [68]:
test_sub.shape[0]

3451

In [69]:
test['is_zip_numeric']  = np.where(test.zip_char != '', 1, 0)

In [70]:
test['len_zip'] = test.zip.apply(lambda x: len(x))

In [71]:
test['is_len_zip_standart']  = np.where(test.len_zip == 5, 1, 0)

In [ ]:
#============================================================================ All Statistic Teach Test zip_num ===

In [81]:
st_zip_num_test = Statistic.get_stat_summarise_by_column(test, 'is_zip_numeric')

In [82]:
st_len_zip_test = Statistic.get_stat_summarise_by_column(test, 'len_zip')

In [103]:
st_len_zip_standart_test = Statistic.get_stat_summarise_by_column(test, 'is_len_zip_standart')

In [86]:
all_zip_num = pd.merge(st_zip_num_teach, st_zip_num_test, how='left', on=['is_zip_numeric'])

In [105]:
all_len_zip = pd.merge(st_len_zip_teach, st_len_zip_test, how='left', on=['len_zip'])

In [106]:
all_len_zip_standart = pd.merge(st_len_zip_standart_teach, st_len_zip_standart_test, how='left',
                                on=['is_len_zip_standart'])

In [96]:
all_zip_num.loc[:, ['p_x', 'p_y']]

                     p_x       p_y
is_zip_numeric
0               0.507262  0.507131
1               0.242719  0.359200

In [97]:
all_len_zip.loc[:, ['p_x', 'p_y']]

              p_x       p_y
len_zip
4        0.297604  0.836712
5        0.507091  0.506485
6        0.241993  0.352608
7        0.000000       NaN
8        0.536884  0.773556
9        0.000000       NaN
10       0.000000       NaN
11       0.000000       NaN
12       0.000000       NaN

In [108]:
all_len_zip_standart.loc[:, ['p_x', 'p_y']]

                          p_x       p_y
is_len_zip_standart
0                    0.357956  0.386446
1                    0.507091  0.506485

In [ ]:
#============================================================================ Test without WL  ==================

In [135]:
dt_test_wt_wl = test[~test.id.isin(white.ID)].copy()

In [136]:
dt_test_wt_wl.shape[0]

35870

In [137]:
dt_test_wt_wl['is_zip_numeric']  = np.where(dt_test_wt_wl.zip_char != '', 1, 0)

In [138]:
dt_test_wt_wl['len_zip'] = dt_test_wt_wl.zip.apply(lambda x: len(x))

In [139]:
dt_test_wt_wl['is_len_zip_standart']  = np.where(dt_test_wt_wl.len_zip == 5, 1, 0)

In [140]:
st_zip_num_test_wt_wl = Statistic.get_stat_summarise_by_column(dt_test_wt_wl, 'is_zip_numeric')

In [141]:
st_len_zip_test_wt_wl = Statistic.get_stat_summarise_by_column(dt_test_wt_wl, 'len_zip')

In [142]:
st_len_zip_standart_test_wt_wl = Statistic.get_stat_summarise_by_column(dt_test_wt_wl, 'is_len_zip_standart')

In [143]:
all_zip_num_wt_wl = pd.merge(st_zip_num_test, st_zip_num_test_wt_wl, how='left', on=['is_zip_numeric'])
all_zip_num_wt_wl.loc[:, ['p_x', 'p_y']]

                     p_x       p_y
is_zip_numeric
0               0.507131  0.503301
1               0.359200  0.418084

In [144]:
all_len_zip_wt_wl = pd.merge(st_len_zip_test, st_len_zip_test_wt_wl, how='left', on=['len_zip'])
all_len_zip_wt_wl.loc[:, ['p_x', 'p_y']]

              p_x       p_y
len_zip
4        0.836712  0.811166
5        0.506485  0.502830
6        0.352608  0.401658
8        0.773556  0.812294

In [145]:
all_len_zip_standart_wt_wl = pd.merge(st_len_zip_standart_test, st_len_zip_standart_test_wt_wl, 
                                      how='left', on=['is_len_zip_standart'])
all_len_zip_standart_wt_wl.loc[:, ['p_x', 'p_y']]

                          p_x      p_y
is_len_zip_standart
0                    0.386446  0.44169
1                    0.506485  0.50283

In [ ]:
#======================================================================= Left join Db  ====================

In [147]:
db_teach.columns

Index(['amount', 'bank_currency', 'bin', 'day_of_week', 'hour', 'id',
       'latitude', 'longitude', 'order_id', 'phone_2_norm', 'status',
       'distance_haversine', 'distance_l2', 'distance_exp', 'is_city_resolved',
       'ip', 'network', 'num_network', 'phone_3_norm', 'gender',
       'amount_deviation', 'is_gender_undef', 'is_city_undef'],
      dtype='object')

In [155]:
db_teach['is_zip_numeric'] = teach.is_zip_numeric

In [156]:
db_test['is_zip_numeric'] = test.is_zip_numeric

In [157]:
db_teach['is_len_zip_standart'] = teach.is_len_zip_standart

In [158]:
db_test['is_len_zip_standart'] = test.is_len_zip_standart

In [47]:
# db_teach.to_csv(path_data + 'ex_05_ky9_xgb_jupiter_2020_07_08/dbteach_ky9_w_len_phone_st.csv', index=False)

In [48]:
# db_test.to_csv(path_data + 'ex_05_ky9_xgb_jupiter_2020_07_08/test_ky9_w_len_phone_st.csv', index=False)