In [81]:
import os
import re
import numpy as np
import pandas as pd
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns',120)

In [120]:
from find_problem_lines import show_problem_lines_v2
from helper import get_count_line
from statistic import Statistic

In [23]:
input_file = '/mnt/files/workdata/work/tu-tu/data_json_logs/07-logs/orders_info.csv'

In [24]:
with open(input_file) as f:
   print(f) # Просмотр основной кодировки файла, показывает не корректную кодировку

<_io.TextIOWrapper name='/mnt/files/workdata/work/tu-tu/data_json_logs/07-logs/orders_info.csv' mode='r' encoding='UTF-8'>

In [26]:
n_line = get_count_line(input_file)
n_line

'4294'

In [29]:
encodings = ['iso2022_jp_2','cp1251', 'utf-8']
encoding = encodings[1]
df = pd.read_csv(input_file, dtype=str, keep_default_na=False, encoding=encoding) # Чтение файла в кодирровке ср1251

In [186]:
df.shape[0]

4293

In [188]:
df.classification.values[609:611]

array(['NA', 'РѕС‚РєР°Р·'], dtype=object)

In [189]:
df_python = pd.read_csv(input_file, keep_default_na=False, engine='python', sep=',', quotechar='"', error_bad_lines=False)
# Флаги для коректного отображения-чтения кирилических символов

In [37]:
df_python.shape[0]

4293

In [190]:
df_python.classification.values[609:611]

array(['NA', 'отказ'], dtype=object)

In [191]:
df_python_sub = df_python[df_python.classification.apply(lambda x: bool(re.search('отказ', x)))]# Фильтрация кирилических символов

In [193]:
df_python_sub.head()

,id,status,card_masked,amount,date,card_type,issuer_country,email,ip,country,cardholder,bank_name,bin,card_subtype,city,country_code3,latitude,longitude,region_name,is_in_log,timestamp,user_agent,time,ua_family,ua_major,ua_minor,os_family,os_major,os_minor,os_patch,device_family,device_brand,device_model,ua_patch,if_use_mobile,classification,classification1,http_referrer,request_uri
10,36345638334388108,new,NA**NA,27573.70,2018-04-17 08:32:29,NA,NA,tatianatv1982.ivanova@yandex.ru,NA,NA,NA,undefined,undefined,undefined,undefined,undefined,undefined,undefined,undefined,1,2018-04-17T05:32:32.030Z,"""Mozilla/5.0 (Linux; Android 6.0; ZTE BLADE A510 Build/MRA58K; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/65.0.3325.109 Mobile Safari/537.36""",2018-04-17 05:32:32,Chrome Mobile,65,0,Android,6,0,NA,ZTE BLADE A510,ZTE,BLADE A510,3325,mobile,отказ,1 get 200,https://m.tutu.ru/poezda/order/final/?result_id=5f0d374f,/pay/36345638334388108
68,36333627647022938,new,NA**NA,1572.31,2018-04-16 19:30:32,NA,NA,basova@tutu.ru,NA,NA,NA,undefined,undefined,undefined,undefined,undefined,undefined,undefined,undefined,1,2018-04-16T16:30:34.419Z,"""Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Mobile/14G60""",2018-04-16 16:30:34,Mobile Safari UI/WKWebView,10,3,iOS,10,3,3,iPhone,Apple,iPhone,3,NA,отказ,1 get 200,NA,/pay/36333627647022938
82,36332869418347252,new,NA**NA,5376.40,2018-04-16 18:41:11,NA,NA,bylbhf83@mail.ru,NA,NA,NA,undefined,undefined,undefined,undefined,undefined,undefined,undefined,undefined,1,2018-04-16T15:41:13.406Z,"""Mozilla/5.0 (iPhone; CPU iPhone OS 11_2_6 like Mac OS X) AppleWebKit/604.5.6 (KHTML, like Gecko) Version/11.0 Mobile/15D100 Safari/604.1""",2018-04-16 15:41:13,Mobile Safari,11,0,iOS,11,2,6,iPhone,Apple,iPhone,NA,mobile,отказ,1 get 200,https://m.tutu.ru/poezda/order/final/?result_id=797e8534,/pay/36332869418347252
125,36326859305994090,new,NA**NA,19638.70,2018-04-16 12:09:54,NA,NA,okylik@mail.ru,NA,NA,NA,undefined,undefined,undefined,undefined,undefined,undefined,undefined,undefined,1,2018-04-16T09:09:54.974Z,"""Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/49.0.2623.112 Safari/537.36""",2018-04-16 09:09:54,Chrome,49,0,Windows XP,NA,NA,NA,Other,NA,NA,2623,desktop,отказ,1 get 200,https://www.tutu.ru/poezda/order/final/?result_id=bb827f34,/pay/36326859305994090
180,36312635460983540,new,NA**NA,1123.90,2018-04-15 20:43:52,NA,NA,Kamo.s@yandex.ru,NA,NA,NA,undefined,undefined,undefined,undefined,undefined,undefined,undefined,undefined,1,2018-04-15T17:43:53.619Z,"""Mozilla/5.0 (iPhone; CPU iPhone OS 10_1_1 like Mac OS X) AppleWebKit/602.2.14 (KHTML, like Gecko) Version/10.0 Mobile/14B100 Safari/602.1""",2018-04-15 17:43:53,Mobile Safari,10,0,iOS,10,1,1,iPhone,Apple,iPhone,NA,mobile,отказ,1 get 200,https://m.tutu.ru/poezda/order/final/?result_id=17315701,/pay/36312635460983540

In [197]:
df_sub = df[df.classification.apply(lambda x: bool(re.search('отказ', x)))] # Фильтрация по выражениям содержащим символы кирилицы не работает
df_sub.head()

Empty DataFrame
Columns: [id, status, card_masked, amount, date, card_type, issuer_country, email, ip, country, cardholder, bank_name, bin, card_subtype, city, country_code3, latitude, longitude, region_name, is_in_log, timestamp, user_agent, time, ua_family, ua_major, ua_minor, os_family, os_major, os_minor, os_patch, device_family, device_brand, device_model, ua_patch, if_use_mobile, classification, classification1, http_referrer, request_uri, is_equal]
Index: []