In [1]:
import csv
import pandas as pd
import numpy as np
import math
from collections import Counter
from statistic import Statistic
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', None)

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
path_merch = '/mnt/files/workdata/work/merchants/merchant_32_ky9_2020-05-12_white_visa/'
path_df = path_merch + '01_raw_data/ky-9.csv'
path_df_bad =  path_merch + '01_raw_data/ky-9-fraud.csv'

In [4]:
df_100 = pd.read_csv(path_df, sep='\t' ,dtype=str, nrows=99, keep_default_na=False)

In [5]:
df_100.head()

,id,type,status,created,processed,amount,currency,pan,expiration_year,expiration_month,holder,email,phone,address,city,country,zip,ip,project_id
0,41799680781449564,charge,charged,2018-12-19 22:33:23,2018-12-19 22:33:27,52.95,USD,447494****6650,19,3,Jennifer Myers,jenn-mye@hotmail.com,+6024818120,5110 Bitterroot Way,Hurlburt Field,USA,28052,195.39.171.227,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9
1,41799692345652096,charge,charged,2018-12-19 22:34:08,2018-12-19 22:34:12,21.18,USD,434256****3600,22,11,Brady Marske,marske-brady7053@yahoo.com,+3235272757,44 Bellevue PL,San Diego,USA,92040,99.101.8.179,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9
2,41799707414784518,charge,charged,2018-12-19 22:35:07,2018-12-19 22:35:10,26.48,USD,464733****3963,20,4,Christopher Scala,chsca8515@me.com,+2674232337,13 Holly Blvd.,Philadelphia,USA,62206,100.34.37.252,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9
3,41799716768741310,charge,charged,2018-12-19 22:35:43,2018-12-19 22:35:47,26.48,USD,437303****7009,22,9,Blake Mitrovik,mitrovikblake@msn.com,+7152525225,1722 Cool Breeze,Stevens Point,USA,93401,174.198.11.206,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9
4,41799744497264522,charge,charged,2018-12-19 22:37:31,2018-12-19 22:37:36,22.24,USD,423223****9977,22,11,Curry Paraspolo,paraspolocur@outlook.com,+3863141489,7535 los feliz dr,New Smyrna Beach,USA,48225,172.58.43.103,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9

In [6]:
df =  pd.read_csv(path_df, sep='\t' ,dtype=str, keep_default_na=False)

In [7]:
df.shape[0]

4354991

In [8]:
df.tail()

,id,type,status,created,processed,amount,currency,pan,expiration_year,expiration_month,holder,email,phone,address,city,country,zip,ip,project_id
4354986,53068694155369081,charge,charged,2020-05-12 10:13:06,2020-05-12 10:13:13,52.95,USD,510805****1286,24,4,Christine Shore,560448598307@4null.com,8185715379,2383 Boalt Ave,Simi Valley,USA,93063,172.251.43.76,1a92804aa92f2a762361fcd2b6cc0794360b23bd
4354987,53068711573135588,charge,charged,2020-05-12 10:14:14,2020-05-12 10:14:19,50.12,USD,510277****2329,24,1,Mohamed Alzubidi,520813664780@4null.com,3476422462,4251 throggs neck expo,Bronx,USA,10465,174.197.208.63,0e9f4342d8929ac7de3b3b1f068043014a9d047c
4354988,53068713919701100,charge,charged,2020-05-12 10:14:23,2020-05-12 10:14:29,110.90,USD,424068****5754,25,1,Manuel Santos,580454168804@4null.com,3237070330,1906 Workman St,Los Angeles,USA,90023,76.81.51.123,3508ef13608b63c075b4a60d63594e9f75750f52
4354989,53068717359294743,charge,charged,2020-05-12 10:14:37,2020-05-12 10:14:42,26.48,USD,510805****2944,23,10,Jimmy Ahn,580381321727@4null.com,6264763713,1950 Rio Bonito Dr,Rowland Heights,USA,91748,64.136.130.31,9ffa75299b6caaa89457fb07db86f47f8fb8198a
4354990,53068728610245889,charge,charged,2020-05-12 10:15:21,2020-05-12 10:15:26,25.00,CAD,453600****9606,23,10,Johnathan Chad Arthur Wetzstein,550421726810@4null.com,7809745587,5627137 ave,Edmonton,CAN,T5a2h4,68.150.169.121,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9

In [9]:
df.describe()

,id,type,status,created,processed,amount,currency,pan,expiration_year,expiration_month,holder,email,phone,address,city,country,zip,ip,project_id
count,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991,4354991
unique,4312751,2,4,3966139,3960477,22384,5,533811,34,12,562262,656612,625374,511199,26588,107,53830,887000,13
top,50315692431313488,charge,charged,2019-05-12 08:20:14,2019-05-06 10:41:20,26.48,USD,414740****2480,23,3,Nancy Xiong,560789864151@4null.com,3219175985,4133 W Saginaw Way,Chicago,USA,60614,97.103.145.232,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9
freq,2,4312750,4220628,15,28,547891,4130429,1919,1246022,409707,1286,1175,1817,1302,58628,4093167,3863,1307,1209672

In [9]:
df_bad =  pd.read_csv(path_df_bad, sep='\t' ,dtype=str, keep_default_na=False)

In [10]:
df_bad .shape[0]

53267

In [11]:
df_bad.tail()

,id,status,created,reported,amount,currency,pan,expiration_year,expiration_month,holder,email,phone,address,city,country,zip,ip,project_id
53262,52550756224053270,charged,2020-04-19 00:13:11,2020-05-07,211.80,USD,442732****0396,25,2,Yahia Tellat,560608548830@4null.com,4048195601,2400 Barrett creek BLVd,Marietta,USA,30066,24.99.203.116,3508ef13608b63c075b4a60d63594e9f75750f52
53263,52546791865317506,charged,2020-04-18 19:55:05,2020-05-07,211.80,USD,442732****0396,25,2,Yahia Tellat,560608548830@4null.com,4048195601,2400 Barrett creek BLVd,Marietta,USA,30066,24.99.203.116,3508ef13608b63c075b4a60d63594e9f75750f52
53264,52546502632571340,charged,2020-04-18 19:36:15,2020-05-07,212.48,USD,442732****0396,25,2,Yahia Tellat,560608548830@4null.com,4048195601,2400 Barrett creek BLVd,Marietta,USA,30066,24.99.203.116,3508ef13608b63c075b4a60d63594e9f75750f52
53265,52264108206791738,charged,2020-04-06 01:11:12,2020-05-07,211.80,USD,498503****1373,24,3,Daniel Jones,560509933041@4null.com,4699399725,1302 Timberview Drive,Allen,USA,75002,107.77.198.204,3508ef13608b63c075b4a60d63594e9f75750f52
53266,51775617534245671,refunded,2020-03-14 23:08:25,2020-05-07,20.12,USD,414398****5544,24,2,Nathaniel King,580883942810@4null.com,7625243130,5490 old grand rd,Cartersville,USA,30121,172.58.3.54,3508ef13608b63c075b4a60d63594e9f75750f52

In [11]:
#  df.created - дата создания ордера
#  df_bad.reported - дата прихода fraud)report

In [12]:
min(df.created)

'2018-12-19 22:33:23'

In [13]:
max(df.created)

'2020-05-12 10:15:21'

In [14]:
min(df_bad.reported)

'2019-01-04'

In [15]:
max(df_bad.reported)

'2020-05-07'

In [16]:
######## Duble id check ##############
len(df.id.unique())

4312751

In [17]:
# Count Double ids 
df.shape[0] - len(df.id.unique())

42240

In [18]:
# Count Double ids in Fraud report. We expect 0.
df_bad.shape[0] -  len(df_bad.id.unique())

0

In [19]:
df_duplicated = df[df.id.duplicated(keep=False)].copy()

In [20]:
df_duplicated.shape[0]

84480

In [21]:
df_duplicated.sort_values(by=['id', 'created'], inplace=True)
df_duplicated.iloc[:20, :7]

,id,type,status,created,processed,amount,currency
354,41805603255639195,charge,chargedback,2018-12-20 04:58:57,2018-12-20 04:59:02,264.75,USD
355,41805603255639195,chargeback,chargedback,2018-12-20 04:58:57,2019-03-05 11:36:14,264.75,USD
426,41806814377312217,charge,chargedback,2018-12-20 06:17:48,2018-12-20 06:17:52,105.90,USD
427,41806814377312217,chargeback,chargedback,2018-12-20 06:17:48,2019-02-05 23:34:10,105.90,USD
754,41824353365812014,charge,chargedback,2018-12-21 01:19:40,2018-12-21 01:19:43,22.24,USD
755,41824353365812014,chargeback,chargedback,2018-12-21 01:19:40,2019-02-05 23:34:19,22.24,USD
897,41825801947190433,charge,chargedback,2018-12-21 02:53:58,2018-12-21 02:54:02,22.24,USD
898,41825801947190433,chargeback,chargedback,2018-12-21 02:53:58,2019-02-05 23:34:18,22.24,USD
983,41838616975312796,charge,chargedback,2018-12-21 16:48:17,2018-12-21 16:48:21,42.36,USD
984,41838616975312796,chargeback,chargedback,2018-12-21 16:48:17,2019-02-05 23:35:13,42.36,USD
1048,41839595898183247,charge,chargedback,2018-12-21 17:52:01,2018-12-21 17:52:04,31.77,USD
1049,41839595898183247,chargeback,chargedback,2018-12-21 17:52:01,2019-02-05 23:35:08,31.77,USD
1055,41839736578158964,charge,chargedback,2018-12-21 18:01:10,2018-12-21 18:01:14,21.18,USD
1056,41839736578158964,chargeback,chargedback,2018-12-21 18:01:10,2019-02-05 23:34:41,21.18,USD
1291,41843330126607383,charge,chargedback,2018-12-21 21:55:08,2018-12-21 21:55:12,21.18,USD
1292,41843330126607383,chargeback,chargedback,2018-12-21 21:55:08,2019-02-05 23:34:42,21.18,USD
1362,41844023238383301,charge,chargedback,2018-12-21 22:40:15,2018-12-21 22:40:19,52.95,USD
1363,41844023238383301,chargeback,chargedback,2018-12-21 22:40:15,2019-02-05 23:34:33,52.95,USD
1440,41844813179366338,charge,chargedback,2018-12-21 23:31:41,2018-12-21 23:31:46,37.07,USD
1441,41844813179366338,chargeback,chargedback,2018-12-21 23:31:41,2019-02-06 18:02:42,37.07,USD

In [22]:
df.groupby(['status', 'type']).size().unstack(fill_value=0)

type          charge  chargeback
status
charged      4220628  0
chargedback  77309    42241
error        2        0
refunded     14811    0

In [23]:
Counter(df.status)

Counter({'charged': 4220628,
         'chargedback': 119550,
         'refunded': 14811,
         'error': 2})

In [24]:
pd.crosstab(index=df.status, columns=df.type, margins=True)

type          charge  chargeback      All
status
charged      4220628  0           4220628
chargedback  77309    42241       119550
error        2        0           2
refunded     14811    0           14811
All          4312750  42241       4354991

In [25]:
list(df_bad)

['id',
 'status',
 'created',
 'reported',
 'amount',
 'currency',
 'pan',
 'expiration_year',
 'expiration_month',
 'holder',
 'email',
 'phone',
 'address',
 'city',
 'country',
 'zip',
 'ip',
 'project_id']

In [26]:
df_bad.groupby(['status']).size()

status
charged        8847
chargedback    39227
error          1
refunded       5192
dtype: int64

In [27]:
df_type_cb = df[df.type == 'chargeback']

In [28]:
df_type_cb.head()

,id,type,status,created,processed,amount,currency,pan,expiration_year,expiration_month,holder,email,phone,address,city,country,zip,ip,project_id
355,41805603255639195,chargeback,chargedback,2018-12-20 04:58:57,2019-03-05 11:36:14,264.75,USD,427082****7013,23,3,Djurdjica Reynoldssr,reynoldssrdjur@me.com,+2672313199,736 townsend,Holland,USA,99705,208.54.90.194,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9
427,41806814377312217,chargeback,chargedback,2018-12-20 06:17:48,2019-02-05 23:34:10,105.90,USD,414720****4963,19,11,Adger Bivens,bivensadger@outlook.com,+7085161601,104 E Ovilla Rd 447,Glendale Heights,USA,33142,104.6.187.193,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9
755,41824353365812014,chargeback,chargedback,2018-12-21 01:19:40,2019-02-05 23:34:19,22.24,USD,434769****7655,21,10,Michael Howse,michahowse@gmail.com,+4243707040,14730 hanfor Allen park,Hawthorne,USA,95617,172.58.21.255,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9
898,41825801947190433,chargeback,chargedback,2018-12-21 02:53:58,2019-02-05 23:34:18,22.24,USD,434769****7655,21,10,Michael Howse,michahowse@gmail.com,+4243707040,14730 hanfor Allen park,Hawthorne,USA,95617,172.58.21.255,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9
984,41838616975312796,chargeback,chargedback,2018-12-21 16:48:17,2019-02-05 23:35:13,42.36,USD,407204****7425,20,12,Dustin Blazevski,blazevski_dus@gmail.com,+6085353510,1440 Cherry Lane,Poynette,USA,92507,107.77.210.63,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9

In [29]:
# Выбираем уникальные записи так, чтобы убрать дубли но остались все записи с типом chargeback.
# Это нужно для того, чтобы можно было проставить дату возврата, для плохих записей у которых нет fruad report
#ky <- filter(ky9, type=='chargeback' | ((type=='charge') & !(id %in% ky9_type_cb$id)))

In [29]:
ids_df_type_cb_id = df_type_cb.id.unique()

In [30]:
mask = (df.type == "chargeback") | ( (df.type == "charge") & (~df.id.isin(ids_df_type_cb_id)) ) # скобки обязательные

In [31]:
df_raw = df.copy()
df = df_raw[mask].copy()

In [32]:
df_raw.shape

(4354991, 19)

In [33]:
df.shape

(4312751, 19)

In [34]:
del df_raw

In [35]:
df.shape[0] - len(df.id.unique()) # only unique value

0

In [37]:
######## End Dubles id check ##############
# (13:31:04) Андрей an@writingbears.com: все ордера которые есть в файле fraud - плохие
# (13:31:15) Андрей an@writingbears.com: также все ордера с типом(не статусом)  chargedback - плохие
# Весь Fraud  в не зависимости от статуса есть в ky9

######## Set status ##############

In [36]:
df = pd.merge(df, df_bad[["id", "reported"]], how='left', on=['id'])

In [37]:
df.head()

,id,type,status,created,processed,amount,currency,pan,expiration_year,expiration_month,holder,email,phone,address,city,country,zip,ip,project_id,reported
0,41799680781449564,charge,charged,2018-12-19 22:33:23,2018-12-19 22:33:27,52.95,USD,447494****6650,19,3,Jennifer Myers,jenn-mye@hotmail.com,+6024818120,5110 Bitterroot Way,Hurlburt Field,USA,28052,195.39.171.227,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,NaN
1,41799692345652096,charge,charged,2018-12-19 22:34:08,2018-12-19 22:34:12,21.18,USD,434256****3600,22,11,Brady Marske,marske-brady7053@yahoo.com,+3235272757,44 Bellevue PL,San Diego,USA,92040,99.101.8.179,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,NaN
2,41799707414784518,charge,charged,2018-12-19 22:35:07,2018-12-19 22:35:10,26.48,USD,464733****3963,20,4,Christopher Scala,chsca8515@me.com,+2674232337,13 Holly Blvd.,Philadelphia,USA,62206,100.34.37.252,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,NaN
3,41799716768741310,charge,charged,2018-12-19 22:35:43,2018-12-19 22:35:47,26.48,USD,437303****7009,22,9,Blake Mitrovik,mitrovikblake@msn.com,+7152525225,1722 Cool Breeze,Stevens Point,USA,93401,174.198.11.206,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,NaN
4,41799744497264522,charge,charged,2018-12-19 22:37:31,2018-12-19 22:37:36,22.24,USD,423223****9977,22,11,Curry Paraspolo,paraspolocur@outlook.com,+3863141489,7535 los feliz dr,New Smyrna Beach,USA,48225,172.58.43.103,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,NaN

In [38]:
df_reported_is_not_nan =  df[pd.notnull(df.reported)]

In [39]:
df_reported_is_not_nan.head()

,id,type,status,created,processed,amount,currency,pan,expiration_year,expiration_month,holder,email,phone,address,city,country,zip,ip,project_id,reported
354,41805603255639195,chargeback,chargedback,2018-12-20 04:58:57,2019-03-05 11:36:14,264.75,USD,427082****7013,23,3,Djurdjica Reynoldssr,reynoldssrdjur@me.com,+2672313199,736 townsend,Holland,USA,99705,208.54.90.194,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,2019-02-16
425,41806814377312217,chargeback,chargedback,2018-12-20 06:17:48,2019-02-05 23:34:10,105.90,USD,414720****4963,19,11,Adger Bivens,bivensadger@outlook.com,+7085161601,104 E Ovilla Rd 447,Glendale Heights,USA,33142,104.6.187.193,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,2019-01-04
489,41818714021471339,charge,refunded,2018-12-20 19:12:31,2018-12-20 19:12:38,76.96,USD,498442****6675,21,10,Bill Langer,bil_la@me.com,+6499232344,Rua Tanhacu 12,Rio verde,BRA,30770390,189.40.78.155,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,2019-01-23
490,41818749693434484,charge,refunded,2018-12-20 19:14:50,2018-12-20 19:14:58,25.65,USD,498406****0153,21,12,Hau Asborn,hasbor2047@sbcglobal.net,+6499232344,Rua Flaviano Araujo,Rio verde,BRA,76954000,189.40.78.155,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,2019-01-04
752,41824353365812014,chargeback,chargedback,2018-12-21 01:19:40,2019-02-05 23:34:19,22.24,USD,434769****7655,21,10,Michael Howse,michahowse@gmail.com,+4243707040,14730 hanfor Allen park,Hawthorne,USA,95617,172.58.21.255,5a2df766c7321c3b48791d979bdad3ce5ce2f8b9,2019-01-04

In [40]:
df_reported_is_not_nan.shape[0]

53267

In [41]:
df_bad.shape[0]

53267

In [42]:
df.status.value_counts()

charged        4220628
chargedback    77310
refunded       14811
error          2
Name: status, dtype: int64

In [43]:
df['status_chargeback'] = df.status

In [44]:
df.status =  np.where( (pd.notnull(df.reported))| (df.type == 'chargeback'), 'true', 'false')

In [45]:
df.status.value_counts()

false    4256210
true     56541
Name: status, dtype: int64

In [46]:
pd.crosstab(index=df.status_chargeback, columns=df.status, margins=True)

status               false   true      All
status_chargeback
charged            4211781  8847   4220628
chargedback        34809    42501  77310
error              1        1      2
refunded           9619     5192   14811
All                4256210  56541  4312751

In [49]:
# После добавления поля "status_chargeback", проверяем количество фрода в записях со статусом "refunded" и "error".
# Из них удаляем только те записи, у которых "status_chargeback" - "false".

In [47]:
df.status_chargeback.value_counts()

charged        4220628
chargedback    77310
refunded       14811
error          2
Name: status_chargeback, dtype: int64

In [48]:
mask_status = ( (df.status_chargeback == 'refunded') | (df.status_chargeback == 'error') ) & (~df.status.isin(Statistic.BAD_STATUSES))

In [49]:
df = df[~mask_status]

In [50]:
pd.crosstab(index=df.status_chargeback, columns=df.status, margins=True)

status               false   true      All
status_chargeback
charged            4211781  8847   4220628
chargedback        34809    42501  77310
error              0        1      1
refunded           0        5192   5192
All                4246590  56541  4303131

In [51]:
df['date_cb_only'] = df['processed'].str[:10]

In [52]:
df.date_cb_only = np.where( (pd.notnull(df.reported)), df.reported,  df.date_cb_only)

In [53]:
df['card_masked'] = df.pan.str[:6] + "******" + df.pan.str.slice(10, 14)

In [54]:
df['expire_year'] = "20" + df.expiration_year
df['expire_month'] = np.where(df.expiration_month.str.len() == 1, "0" + df.expiration_month, df.expiration_month)
df['card_expire'] = df.expire_year +  "-" +  df.expire_month

In [55]:
df.groupby(['currency']).size()

currency
CAD    221745
EUR    596
INR    1247
USD    4079543
dtype: int64

In [56]:
df['amount_in_currency'] = df.amount
df.amount = pd.to_numeric(df.amount, errors="coerce")

In [57]:
df.dtypes

id                    object
type                  object
status                object
created               object
processed             object
amount                float64
currency              object
pan                   object
expiration_year       object
expiration_month      object
holder                object
email                 object
phone                 object
address               object
city                  object
country               object
zip                   object
ip                    object
project_id            object
reported              object
status_chargeback     object
date_cb_only          object
card_masked           object
expire_year           object
expire_month          object
card_expire           object
amount_in_currency    object
dtype: object

In [58]:
USD_EUR = 0.90
USD_CAD = 1.30
USD_INR = 71.13
USD_JPY = 108.94

In [62]:
df.loc[df.currency == "EUR",'amount'] = df.loc[df.currency == "EUR",'amount'] / USD_EUR
df.loc[df.currency == "CAD",'amount'] = df.loc[df.currency == "CAD",'amount'] / USD_CAD
df.loc[df.currency == "INR",'amount'] = df.loc[df.currency == "INR",'amount'] / USD_INR
df.loc[df.currency == "JPY",'amount'] = df.loc[df.currency == "JPY",'amount'] / USD_JPY

In [59]:
min(df.amount)

0.99

In [60]:
max(df.amount)

7000.0

In [61]:
df.amount.mean()

95.66618982317763

In [62]:
df.amount.median()

40.24

In [63]:
df.amount = df.amount.round(2).astype(str)

In [64]:
drop_columns = ['pan', 'expiration_year', 'expiration_month', 'expire_year', 'expire_month']
df.drop(columns=drop_columns, axis=1, inplace=True)

In [65]:
df.rename(inplace=True, columns={'id': 'order_id',
                                 'created': 'date',
                                 'card_holder': 'holder',
                                 'city':'city_from_oder'})

In [66]:
list(df)

['order_id',
 'type',
 'status',
 'date',
 'processed',
 'amount',
 'currency',
 'holder',
 'email',
 'phone',
 'address',
 'city_from_oder',
 'country',
 'zip',
 'ip',
 'project_id',
 'reported',
 'status_chargeback',
 'date_cb_only',
 'card_masked',
 'card_expire',
 'amount_in_currency']

In [71]:
file_to_resolve_path = path_merch + "/02_pure_data/ky9_for_resolve-from_jupyter.csv"
# df.to_csv(file_to_resolve_path, index=False, quoting=csv.QUOTE_ALL)