In [1]:
import csv
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 200)

import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)

from utils import UtilsKy

# for autoreload modules
%load_ext autoreload
%autoreload 2

In [2]:
# ky10
path_ky_10 = '/mnt/files/workdata/work/merchants/merchant_35_ky_2021-03-12/'
df_resolved_ky10 =  pd.read_csv(UtilsKy.KY_10_RESOLVED, dtype=str, keep_default_na=False)
df_resolved_ky10.sort_values(by='date', ascending=True, inplace=True)

In [3]:
df_resolved_ky10.shape

(206106, 34)

In [4]:
str(list(df_resolved_ky10))

"['amount', 'amount_deviation_usd', 'amount_usd', 'area_code', 'bank_currency', 'bank_name', 'bin', 'card_type', 'city', 'client_hour', 'continent_code', 'count_months_to_end_card', 'country', 'country_code3', 'currency', 'date', 'date_cb_only', 'date_only', 'day_of_week', 'distance_haversine', 'distance_l2', 'distance_sqs_subtraction', 'hour', 'id', 'is_bank_country_equal_country', 'is_city_resolved', 'is_ip_country_equal_country', 'latitude', 'longitude', 'metro_code', 'order_id', 'phone_2_norm', 'region_name', 'status']"

In [5]:
df_resolved_ky10.head()

,amount,amount_deviation_usd,amount_usd,area_code,bank_currency,bank_name,bin,card_type,city,client_hour,continent_code,count_months_to_end_card,country,country_code3,currency,date,date_cb_only,date_only,day_of_week,distance_haversine,distance_l2,distance_sqs_subtraction,hour,id,is_bank_country_equal_country,is_city_resolved,is_ip_country_equal_country,latitude,longitude,metro_code,order_id,phone_2_norm,region_name,status
0,141.68,0,141.68,860,840,"TD BANK, N.A.",448233,VISA card,Vernon Rockville,14,NA,14,USA,USA,USD,2021-02-02 21:10:22,undefined,2021-02-02,2,0.153902149788471,0.403481497683806,4.18798475693855,21,448233******3385_2022-04,1,1,1,41.8365,-72.4632,533,58963204904455627,60,Connecticut,0
1,26.83,-2,26.83,0,840,NASSAU EDUCATORS F.C.U.,438787,VISA card,undefined,21,NA,45,USA,USA,USD,2021-02-02 21:11:20,undefined,2021-02-02,2,0.0140942632758067,0.033064662702264,7.74357209333864,21,438787******8595_2024-11,1,0,1,38.0000,-97.0000,0,58963219744750136,16,undefined,0
2,34.77,-2,34.77,0,840,"BANK OF AMERICA, N.A.",481582,VISA card,undefined,21,NA,35,USA,USA,USD,2021-02-02 21:14:03,undefined,2021-02-02,2,0.0140942632758067,0.033064662702264,7.74357209333864,21,481582******0912_2024-01,1,0,1,38.0000,-97.0000,0,58963261615776513,14,undefined,0
3,25.32,-2,25.32,315,840,"STAR PROCESSING, INC.",510277,MasterCard,Utica,14,NA,42,USA,USA,USD,2021-02-02 21:14:29,undefined,2021-02-02,2,0.137687043064337,0.360984334840144,4.50621752613016,21,510277******8427_2024-08,1,1,1,43.1548,-75.1426,526,58963268351715157,15,New York,0
4,19.49,-3,19.49,0,124,TD CANADA TRUST,472409,VISA card,Toronto,14,NA,7,CAN,CAN,CAD,2021-02-02 21:14:31,undefined,2021-02-02,2,0.11229072384529,0.291189508640234,5.05343210691049,21,472409******4012_2021-09,1,1,1,43.6656,-79.3830,0,58963268900246649,05,Ontario,0

In [6]:
df_resolved_ky10.drop(columns=['amount_deviation_usd', 'amount_usd', 'date_cb_only', 'is_bank_country_equal_country', 'is_ip_country_equal_country'], inplace=True)

In [7]:
df_resolved_ky10.status.value_counts()

0    204707
1      1399
Name: status, dtype: int64

In [8]:
# ky9
db_test_ky9 = pd.read_csv(UtilsKy.DB_TEST_KY9, dtype=str)

In [9]:
db_test_ky9.shape

(268457, 14)

In [10]:
db_test_ky9.status.value_counts()

0    265883
1      2574
Name: status, dtype: int64

In [11]:
min(db_test_ky9.date_only)

'2020-03-24'

In [12]:
max(db_test_ky9.date_only)

'2020-04-30'

In [13]:
# ky9_for_ky10
db_ky9_for_ky_10 = pd.read_csv(UtilsKy.KY9_RESOLVED_FOR_KY10, dtype=str)

In [14]:
db_ky9_for_ky_10.sort_values(by='date', ascending=True, inplace=True)

In [15]:
db_ky9_for_ky_10.shape

(4312751, 27)

In [16]:
db_ky9_for_ky_10.status.value_counts()

0    4256210
1      56541
Name: status, dtype: int64

In [17]:
str(list(db_ky9_for_ky_10))

"['amount', 'area_code', 'bank_currency', 'bank_name', 'bin', 'card_type', 'city_from_order', 'client_hour', 'continent_code', 'count_months_to_end_card', 'country_code3', 'date', 'day_of_week', 'distance_haversine', 'distance_l2', 'distance_sqs_subtraction', 'hour', 'id', 'is_city_resolved', 'latitude', 'longitude', 'metro_code', 'order_id', 'phone_2_norm', 'region_name', 'status', 'date_only']"

In [18]:
db_ky9_for_ky_10.head()

,amount,area_code,bank_currency,bank_name,bin,card_type,city_from_order,client_hour,continent_code,count_months_to_end_card,country_code3,date,day_of_week,distance_haversine,distance_l2,distance_sqs_subtraction,hour,id,is_city_resolved,latitude,longitude,metro_code,order_id,phone_2_norm,region_name,status,date_only
0,52.95,0,840,FIRST ENTERTAINMENT C.U.,447494,VISA card,Kuwait,22,AS,3,KWT,2018-12-19 22:33:23,3,0.903780816116717,2.50827107613729,1.82247749170286,22,447494******6650_2019-03,1,29.3697,47.9783,0,41799680781449564,02,Al Kuwayt,0,2018-12-19
1,21.18,858,840,"WELLS FARGO BANK, N.A.",434256,VISA card,San Diego,12,NaN,47,USA,2018-12-19 22:34:08,3,0.162653617900634,0.395384914768628,11.4513446233184,22,434256******3600_2022-11,1,32.8594,-117.2073,825,41799692345652096,23,California,0,2018-12-19
2,26.48,610,840,"NATIONSBANK, N.A.",464733,VISA card,Lansdowne,15,NaN,16,USA,2018-12-19 22:35:07,3,0.135643696824833,0.35200134643158,4.5592096243886,22,464733******3963_2020-04,1,39.9367,-75.2622,504,41799707414784518,67,Pennsylvania,0,2018-12-19
3,26.48,0,840,GREEN DOT,437303,VISA card,undefined,22,NaN,45,USA,2018-12-19 22:35:43,3,0.0140942632758067,0.033064662702264,7.74357209333864,22,437303******7009_2022-09,0,38.0000,-97.0000,0,41799716768741310,15,undefined,0,2018-12-19
4,22.24,0,840,undefined,423223,VISA card,undefined,22,NaN,47,USA,2018-12-19 22:37:31,3,0.0140942632758067,0.033064662702264,7.74357209333864,22,423223******9977_2022-11,0,38.0000,-97.0000,0,41799744497264522,86,undefined,0,2018-12-19

In [19]:
len(db_ky9_for_ky_10.order_id.unique())

4312751

In [20]:
file_ky9_for_resolving = '/mnt/files/workdata/work/merchants/merchant_32_ky9_2020-05-12_white_visa/02_pure_data/ky9_for_resolve.csv'
db_ky9_for_resolve = pd.read_csv(file_ky9_for_resolving, dtype=str)

In [21]:
db_ky9_for_resolve.shape

(4312751, 24)

In [22]:
str(list(db_ky9_for_resolve))

"['order_id', 'type', 'status', 'date', 'processed', 'amount', 'currency', 'card_holder', 'email', 'phone', 'address', 'city_from_order', 'country', 'zip', 'ip', 'project_id', 'reported', 'status_chargeback', 'date_cb_only', 'card_masked', 'card_expire', 'amount_in_currency', 'date_only', 'id']"

In [23]:
cols_db_ky9_for_resolve = ['country', 'currency']

In [24]:
db_ky9_for_ky_10[cols_db_ky9_for_resolve] = db_ky9_for_resolve[cols_db_ky9_for_resolve]

In [25]:
db_ky9_for_ky_10.rename(columns={'city_from_order':'city'}, inplace=True)

In [26]:
set(list(db_ky9_for_ky_10))  - set(list(df_resolved_ky10))

set()

In [27]:
set(list(df_resolved_ky10)) - set(list(db_ky9_for_ky_10))

set()

In [28]:
db_ky10_ky9_conc = pd.concat([db_ky9_for_ky_10, df_resolved_ky10])

In [29]:
db_ky10_ky9_conc.shape

(4518857, 29)

In [30]:
db_ky10_ky9_conc.status.value_counts()

0    4460917
1      57940
Name: status, dtype: int64

In [31]:
db_ky10_ky9_conc

,amount,area_code,bank_currency,bank_name,bin,card_type,city,client_hour,continent_code,count_months_to_end_card,country_code3,date,day_of_week,distance_haversine,distance_l2,distance_sqs_subtraction,hour,id,is_city_resolved,latitude,longitude,metro_code,order_id,phone_2_norm,region_name,status,date_only,country,currency
0,52.95,0,840,FIRST ENTERTAINMENT C.U.,447494,VISA card,Kuwait,22,AS,3,KWT,2018-12-19 22:33:23,3,0.903780816116717,2.50827107613729,1.82247749170286,22,447494******6650_2019-03,1,29.3697,47.9783,0,41799680781449564,02,Al Kuwayt,0,2018-12-19,USA,USD
1,21.18,858,840,"WELLS FARGO BANK, N.A.",434256,VISA card,San Diego,12,NaN,47,USA,2018-12-19 22:34:08,3,0.162653617900634,0.395384914768628,11.4513446233184,22,434256******3600_2022-11,1,32.8594,-117.2073,825,41799692345652096,23,California,0,2018-12-19,USA,USD
2,26.48,610,840,"NATIONSBANK, N.A.",464733,VISA card,Lansdowne,15,NaN,16,USA,2018-12-19 22:35:07,3,0.135643696824833,0.35200134643158,4.5592096243886,22,464733******3963_2020-04,1,39.9367,-75.2622,504,41799707414784518,67,Pennsylvania,0,2018-12-19,USA,USD
3,26.48,0,840,GREEN DOT,437303,VISA card,undefined,22,NaN,45,USA,2018-12-19 22:35:43,3,0.0140942632758067,0.033064662702264,7.74357209333864,22,437303******7009_2022-09,0,38.0000,-97.0000,0,41799716768741310,15,undefined,0,2018-12-19,USA,USD
4,22.24,0,840,undefined,423223,VISA card,undefined,22,NaN,47,USA,2018-12-19 22:37:31,3,0.0140942632758067,0.033064662702264,7.74357209333864,22,423223******9977_2022-11,0,38.0000,-97.0000,0,41799744497264522,86,undefined,0,2018-12-19,USA,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165912,54.85,651,840,"CAPITAL ONE BANK (USA), N.A.",517805,MasterCard,Stillwater,06,NA,28,USA,2021-03-13 14:38:49,6,0.0552118621498109,0.114430582559431,6.99468512204249,14,517805******4638_2023-07,1,45.0648,-92.8473,613,59819808281420971,51,Minnesota,0,2021-03-13,USA,USD
82668,25.34,818,840,"UNION BANK, N.A.",540997,MasterCard,Northridge,04,NA,28,USA,2021-03-13 14:39:08,6,0.166839548711623,0.41243202264229,11.7057013365521,14,540997******5234_2023-07,1,34.2417,-118.5504,803,59819812872916680,51,California,0,2021-03-13,USA,USD
187799,97.46,0,840,"WELLS FARGO BANK, N.A.",558668,MasterCard,undefined,14,NA,4,USA,2021-03-13 14:39:56,6,0.0140942632758067,0.033064662702264,7.74357209333864,14,558668******5264_2021-07,0,38.0000,-97.0000,0,59819825434352421,08,undefined,0,2021-03-13,USA,USD
82669,21.48,479,840,"JPMORGAN CHASE BANK, N.A.",514377,MasterCard,Fayetteville,06,NA,34,USA,2021-03-13 14:40:05,6,0.0267458853923512,0.0548513520816146,7.32239074962768,14,514377******6213_2024-01,1,36.1013,-94.2700,670,59819827278472307,79,Arkansas,0,2021-03-13,USA,USD
150229,19.46,0,124,BANK OF NOVA SCOTIA,453600,VISA card,Stoney Creek,07,NA,48,CAN,2021-03-13 14:40:07,6,0.10936615072316,0.283816315675378,5.10128534888497,14,453600******5304_2025-03,1,43.2245,-79.6988,0,59819827963434448,05,Ontario,0,2021-03-13,CAN,CAD

In [32]:
mask = (db_ky10_ky9_conc.date_only >= min(db_test_ky9.date_only)) & (db_ky10_ky9_conc.date_only <= max(db_test_ky9.date_only))
test_ky9_all_ky10 = db_ky10_ky9_conc[mask]

In [33]:
test_ky9_all_ky10.shape

(315694, 29)

In [34]:
test_ky9_all_ky10.status.value_counts()

0    313120
1      2574
Name: status, dtype: int64

In [111]:
# test_ky9_all_ky10.to_csv(path_ky_10 + '02_pure_data/data_ky10_with_ky9/test_ky9_all_ky10.csv', index=False, quoting=csv.QUOTE_ALL)

In [35]:
ky9_fraud = db_ky9_for_ky_10[db_ky9_for_ky_10.status == '1']

In [36]:
ky9_fraud.shape

(56541, 29)

In [37]:
ky9_fraud.status.value_counts()

1    56541
Name: status, dtype: int64

In [38]:
ky9_fraud.head(3)

,amount,area_code,bank_currency,bank_name,bin,card_type,city,client_hour,continent_code,count_months_to_end_card,country_code3,date,day_of_week,distance_haversine,distance_l2,distance_sqs_subtraction,hour,id,is_city_resolved,latitude,longitude,metro_code,order_id,phone_2_norm,region_name,status,date_only,country,currency
354,264.75,215,840,USAA SAVINGS BANK,427082,VISA card,Philadelphia,21,NaN,51,USA,2018-12-20 04:58:57,4,0.136331429293758,0.353826231042557,4.54582953274766,04,427082******7013_2023-03,1,39.9514,-75.1582,504,41805603255639195,67,Pennsylvania,1,2018-12-20,USA,USD
425,105.90,630,840,"CHASE BANK USA, N.A.",414720,VISA card,Roselle,22,NaN,11,USA,2018-12-20 06:17:48,4,0.05494352116258,0.137745627175871,6.30548964829209,06,414720******4963_2019-11,1,41.9792,-88.0895,602,41806814377312217,08,Illinois,1,2018-12-20,USA,USD
489,76.96,0,76,"BANCO DO BRASIL, S.A.",498442,VISA card,undefined,19,SA,34,BRA,2018-12-20 19:12:31,4,0.675654465393614,1.38475033551366,1.75873438065076,19,498442******6675_2021-10,0,-23.5477,-46.6358,0,41818714021471339,49,undefined,1,2018-12-20,BRA,USD

In [120]:
ky9_fraud_all_ky10 = pd.concat([ky9_fraud, df_resolved_ky10])

In [121]:
ky9_fraud_all_ky10.shape

(262647, 29)

In [122]:
ky9_fraud_all_ky10.status.value_counts()

0    204707
1     57940
Name: status, dtype: int64

In [123]:
# ky9_fraud_all_ky10.to_csv(path_ky_10 + '02_pure_data/data_ky10_with_ky9/ky9_fraud_all_ky10.csv', index=False, quoting=csv.QUOTE_ALL)