In [2]:
# %load ../import_data.py
import pandas as pd
import numpy as np
import csv
pd.set_option('display.max_colwidth', 1000)
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 100)

import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)

from utils import UtilsKy
from statistic import Statistic

# for autoreload modules
%load_ext autoreload
%autoreload 2

In [36]:
path_ky_10 = '/mnt/files/workdata/work/merchants/merchant_35_ky_2021-03-12/'

In [3]:
# df_orig_research =  pd.read_csv(UtilsKy.KY_10_FOR_RESOLVE, dtype=str, keep_default_na=False)
# df_orig_research.sort_values(by='date', ascending=True, inplace=True)

In [6]:
# df_orig_research.shape

In [5]:
# str(list(df_orig_research))

"['id', 'order_id', 'type', 'status', 'amount', 'currency', 'terminal_id', 'mcc', 'project_id', 'date', 'country', 'zip', 'phone', 'ip', 'reported', 'status_old', 'reported_chargeback', 'date_cb_only', 'date_only', 'card_masked', 'card_expire', 'amount_usd']"

In [7]:
# df_orig_research.head(2)

In [3]:
UtilsKy.KY_10_RESOLVED

'/mnt/files/workdata/work/merchants/merchant_35_ky_2021-03-12/02_pure_data/ky10_resolved.csv'

In [4]:
# holder_case, is_gender_undefined, gender
df =  pd.read_csv(UtilsKy.KY_10_RESOLVED , dtype=str, keep_default_na=False)
df.sort_values(by='date', ascending=True, inplace=True)

In [5]:
df.status.value_counts()

0    204707
1      1399
Name: status, dtype: int64

In [6]:
mask = df.currency == 'ARS'
col_names = ['amount', 'amount_usd','currency', 'id','order_id']
df_ARS = df[mask]
df_ARS[col_names].head()

       amount amount_usd currency                        id           order_id
110162   0.97       0.97      ARS  491698******6628_2023-11  59267139033447313
37724    0.97       0.97      ARS  491698******6628_2023-11  59267243798279992
111177   8.36       8.36      ARS  523920******9904_2024-07  59282063641024519
38910    4.61       4.61      ARS  550209******8943_2028-01  59283963977831440
111426  55.24      55.24      ARS  511740******9952_2025-06  59286547047013311

In [7]:
df.shape

(206106, 34)

In [8]:
str(list(df))

"['amount', 'amount_deviation_usd', 'amount_usd', 'area_code', 'bank_currency', 'bank_name', 'bin', 'card_type', 'city', 'client_hour', 'continent_code', 'count_months_to_end_card', 'country', 'country_code3', 'currency', 'date', 'date_cb_only', 'date_only', 'day_of_week', 'distance_haversine', 'distance_l2', 'distance_sqs_subtraction', 'hour', 'id', 'is_bank_country_equal_country', 'is_city_resolved', 'is_ip_country_equal_country', 'latitude', 'longitude', 'metro_code', 'order_id', 'phone_2_norm', 'region_name', 'status']"

In [9]:
df.tail()

,amount,amount_deviation_usd,amount_usd,area_code,bank_currency,bank_name,bin,card_type,city,client_hour,continent_code,count_months_to_end_card,country,country_code3,currency,date,date_cb_only,date_only,day_of_week,distance_haversine,distance_l2,distance_sqs_subtraction,hour,id,is_bank_country_equal_country,is_city_resolved,is_ip_country_equal_country,latitude,longitude,metro_code,order_id,phone_2_norm,region_name,status
165912,54.85,-1,54.85,651,840,"CAPITAL ONE BANK (USA), N.A.",517805,MasterCard,Stillwater,06,NA,28,USA,USA,USD,2021-03-13 14:38:49,undefined,2021-03-13,6,0.0552118621498109,0.114430582559431,6.99468512204249,14,517805******4638_2023-07,1,1,1,45.0648,-92.8473,613,59819808281420971,51,Minnesota,0
82668,25.34,-2,25.34,818,840,"UNION BANK, N.A.",540997,MasterCard,Northridge,04,NA,28,USA,USA,USD,2021-03-13 14:39:08,undefined,2021-03-13,6,0.166839548711623,0.41243202264229,11.7057013365521,14,540997******5234_2023-07,1,1,1,34.2417,-118.5504,803,59819812872916680,51,California,0
187799,97.46,0,97.46,0,840,"WELLS FARGO BANK, N.A.",558668,MasterCard,undefined,14,NA,4,USA,USA,USD,2021-03-13 14:39:56,undefined,2021-03-13,6,0.0140942632758067,0.033064662702264,7.74357209333864,14,558668******5264_2021-07,1,0,1,38.0000,-97.0000,0,59819825434352421,08,undefined,0
82669,21.48,-3,21.48,479,840,"JPMORGAN CHASE BANK, N.A.",514377,MasterCard,Fayetteville,06,NA,34,USA,USA,USD,2021-03-13 14:40:05,undefined,2021-03-13,6,0.0267458853923512,0.0548513520816146,7.32239074962768,14,514377******6213_2024-01,1,1,1,36.1013,-94.2700,670,59819827278472307,79,Arkansas,0
150229,19.46,-3,19.46,0,124,BANK OF NOVA SCOTIA,453600,VISA card,Stoney Creek,07,NA,48,CAN,CAN,CAD,2021-03-13 14:40:07,undefined,2021-03-13,6,0.10936615072316,0.283816315675378,5.10128534888497,14,453600******5304_2025-03,1,1,1,43.2245,-79.6988,0,59819827963434448,05,Ontario,0

In [10]:
str(list(df))

"['amount', 'amount_deviation_usd', 'amount_usd', 'area_code', 'bank_currency', 'bank_name', 'bin', 'card_type', 'city', 'client_hour', 'continent_code', 'count_months_to_end_card', 'country', 'country_code3', 'currency', 'date', 'date_cb_only', 'date_only', 'day_of_week', 'distance_haversine', 'distance_l2', 'distance_sqs_subtraction', 'hour', 'id', 'is_bank_country_equal_country', 'is_city_resolved', 'is_ip_country_equal_country', 'latitude', 'longitude', 'metro_code', 'order_id', 'phone_2_norm', 'region_name', 'status']"

In [11]:
df.shape

(206106, 34)

##### Split df_orig_research

In [12]:
df_good = Statistic.get_dt_good(df)
df_bad = Statistic.get_dt_bad(df)
n_good = df_good.shape[0]
n_bad = df_bad.shape[0]

In [13]:
print('n_goood = ', n_good )
print('n_bad = ', n_bad)

n_goood =  204707
n_bad =  1399

In [24]:
# n_teach_good = round(n_good * 0.5) 
# n_test_good = round(n_good * 0.3) 
n_teach_good = round(n_good * 0.47) 
n_test_good = round(n_good * 0.47) 

print('n_teach_good= ',n_teach_good )
print('n_test_good=', n_test_good)

n_teach_good=  96212
n_test_good= 96212

In [25]:
teach_good = df_good.iloc[:n_teach_good].copy()
test_good = df_good.iloc[ -n_test_good:].copy()

In [26]:
# n_test_bad_id = round(n_bad * 0.35)
n_test_bad_id = round(n_bad * 0.42)
test_bad_ids = df_bad.iloc[-n_test_bad_id:,].id.unique()
print('test_bad_ids = ', len(test_bad_ids))

test_bad_ids =  246

In [27]:
mask = df_bad.id.isin(test_bad_ids)
teach_bad = df_bad[~mask].copy()
test_bad = df_bad[mask].copy()

In [28]:
teach = pd.concat([teach_good, teach_bad])
test = pd.concat([test_good, test_bad])

In [29]:
teach.status.value_counts()

0    96212
1      760
Name: status, dtype: int64

In [30]:
test.status.value_counts()

0    96212
1      639
Name: status, dtype: int64

In [25]:
# teach_min = min(teach_good.date_only)
# teach_max = max(teach_good.date_only)

# test_min = min(test_good.date_only)
# test_max = max(test_good.date_only)

# teach_name = 'ky10_' + teach_min + '_' + teach_max + '.csv'
# test_name = 'ky10_' + test_min + '_' + test_max + '.csv'
# print('teach_name = ', teach_name)
# print('test_name = ', test_name)

teach_name =  ky10_2021-02-02_2021-02-27.csv
test_name =  ky10_2021-03-04_2021-03-13.csv

In [32]:
teach_min = min(teach_good.date_only)
teach_max = max(teach_good.date_only)

test_min = min(test_good.date_only)
test_max = max(test_good.date_only)

teach_name = '2_ky10_' + teach_min + '_' + teach_max + '.csv'
test_name = '2_ky10_' + test_min + '_' + test_max + '.csv'
print('teach_name = ', teach_name)
print('test_name = ', test_name)

teach_name =  2_ky10_2021-02-02_2021-02-26.csv
test_name =  2_ky10_2021-02-28_2021-03-13.csv

In [26]:
path_teach = path_ky_10 + '02_pure_data/' +  teach_name
path_test = path_ky_10 + '02_pure_data/' +  test_name
# teach.to_csv(path_teach, index=False, quoting=csv.QUOTE_ALL)
# test.to_csv(path_test, index=False, quoting=csv.QUOTE_ALL))

NameError: name 'path_ky_10' is not defined

##### CREATE DATASET FOR KY9 TESTING

In [38]:
df =  pd.read_csv(UtilsKy.KY_10_RESOLVED , dtype=str, keep_default_na=False)

In [39]:
df.status.value_counts()

0    204707
1      1399
Name: status, dtype: int64

In [40]:
ky10_bad = Statistic.get_dt_bad(df)
ky10_good = Statistic.get_dt_good(df)

In [41]:
mask = ky10_good.date_only < '2021-02-16'
ky10_good = ky10_good[mask]
ky10_good.shape

(56204, 34)

In [42]:
ky10_bad['id2'] = ky10_bad['id'] + '_' + ky10_bad['latitude'] + ky10_bad['longitude']

/home/sergey/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
ky10_bad_sub =  ky10_bad.groupby('id2').head(5).reset_index(drop=True)
ky10_bad_sub.drop(columns=['id2'], inplace=True)
ky10_bad_sub.shape

(1188, 34)

In [44]:
teach_min = min(ky10_good.date_only)
teach_max = max(ky10_good.date_only)
teach_name = '3_ky10_all_cb_' + teach_min + '_' + teach_max + '.csv'
teach_name

'3_ky10_all_cb_2021-02-02_2021-02-15.csv'

In [45]:
ky10_all_cb = pd.concat([ky10_good, ky10_bad_sub])
ky10_all_cb.status.value_counts()

0    56204
1     1188
Name: status, dtype: int64

In [46]:
path_teach = path_ky_10 + '02_pure_data/' +  teach_name
ky10_all_cb.to_csv(path_teach, index=False, quoting=csv.QUOTE_ALL)