In [40]:
from collections import Counter
import pandas as pd
import numpy as np
pd.set_option('display.max_colwidth', 1200)
pd.set_option('display.max_rows', 30)

In [7]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)

In [8]:
from statistic import Statistic
from utils import UtilsKy
from analyzer import HelperAnalyzer, AnalyzerPrediction

In [9]:
from datetime import datetime, timedelta

In [10]:
UtilsKy.PATH_DATA_KYW3

'/mnt/files/workdata/work/merchants/merchant_33_kyw3_2020-06-05/04_experiments/ex_01_some_teach/'

In [11]:
path_teach_kyw3 = UtilsKy.PATH_DATA_KYW3 + '-extra_teach_kyw3_from_2019-11-20_to_2020-03-13.csv'
path_test_kyw3 = UtilsKy.PATH_DATA_KYW3 + 'test_kyw3_from_2020-04-06_to_2020-05-06.csv'

In [12]:
teach_kyw3 = pd.read_csv(path_teach_kyw3 , dtype=str)

In [13]:
test_kyw3 = pd.read_csv(path_test_kyw3 , dtype=str)

In [17]:
path_kyw3_exp_02 = UtilsKy.PATH_KYW3 + '04_experiments/ex_02_jupyter/'

In [18]:
teach_kyw3_jupyter = pd.read_csv(path_kyw3_exp_02 + 'teach_2019-11-20_2020-03-13.csv' , dtype=str)

In [19]:
test_kyw3_jupyter = pd.read_csv(path_kyw3_exp_02 + 'test_2020-04-06_2020-05-06.csv' , dtype=str)

In [20]:
df1 = teach_kyw3

In [21]:
df2 = teach_kyw3_jupyter

In [22]:
list(df1)

['order_id',
 'type',
 'status',
 'date',
 'processed',
 'amount',
 'currency',
 'card_holder',
 'email',
 'phone',
 'address',
 'city_from_order',
 'country',
 'zip',
 'ip',
 'project_id',
 'reported',
 'status_chargeback',
 'date_cb_only',
 'card_masked',
 'card_expire',
 'amount_in_currency',
 'date_only',
 'id']

In [23]:
list(df2)

['order_id',
 'status',
 'date',
 'processed',
 'amount',
 'currency',
 'card_holder',
 'email',
 'phone',
 'address',
 'city_from_order',
 'country',
 'zip',
 'ip',
 'project_id',
 'reported',
 'status_chargeback',
 'date_cb_only',
 'card_masked',
 'card_expire',
 'date_only',
 'id']

In [24]:
col_names_1 = list(df1)
col_names_2 = list(df2)

In [26]:
if set(col_names_1) == set(col_names_2):
    print( 'columns match')
else:    
    print( 'columns don`t match')
    diff_1_2 = set(col_names_1) - set(col_names_2)
    diff_2_1 = set(col_names_2) - set(col_names_2)
    print( 'list(df1) - list(df2)= ' + str(diff_1_2))
    print( 'list(df2) - list(df1)= ' + str(diff_2_1))

columns don`t match
list(df1) - list(df2)= {'amount_in_currency', 'type'}
list(df2) - list(df1)= set()

In [27]:
n1 = df1.shape[0]
n2 = df2.shape[0]

In [28]:
if n1 == n2:
    print('Number of rows in dataframes is the same')
else:
    print("n1={},n2={}.".format(n1,n2))

Number of rows in dataframes is the same

In [29]:
col_names = set(col_names_1).intersection(col_names_2)
col_names

{'address',
 'amount',
 'card_expire',
 'card_holder',
 'card_masked',
 'city_from_order',
 'country',
 'currency',
 'date',
 'date_cb_only',
 'date_only',
 'email',
 'id',
 'ip',
 'order_id',
 'phone',
 'processed',
 'project_id',
 'reported',
 'status',
 'status_chargeback',
 'zip'}

In [30]:
n = min(n1, n2)

In [31]:
not_equal_columns = [ col for col in col_names if not np.array_equal(df1[col].values[:n], df2[col].values[:n])]
not_equal_columns

['reported']

In [35]:
col_name = not_equal_columns[0]# 'amount'
col_1 = 'df1.' + col_name
col_2 = 'df2.' + col_name
data = {col_1: df1[col_name].values[:n].copy(),col_2: df2[col_name].values[:n].copy()}

In [73]:
df_compare = pd.DataFrame(data=data)
mask = df_compare[col_1] == df_compare[col_2]
df_compare_diff = df_compare[~mask].copy()
df_compare_diff.loc[0,col_1] = 'unknown'
df_compare_diff.head()

  df1.reported df2.reported
0      unknown          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN

In [67]:
df_compare_diff.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            434221, 434227, 434234, 434235, 434236, 434246, 434252, 434269,
            434302, 434311],
           dtype='int64', length=427078)

In [68]:
df_compare_diff[col_1].values[:4]

array(['unknown', nan, nan, nan], dtype=object)

In [71]:
mask = (df_compare_diff[col_1].isna()) & (df_compare_diff[col_2].isna())
df_compare_diff_not_nan = df_compare_diff[~mask]
df_compare_diff_not_nan

  df1.reported df2.reported
0      unknown          NaN