In [16]:
import pandas as pd
import numpy as np

In [17]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)

In [18]:
# for autoreload modules
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
from analyzer import HelperAnalyzer, AnalyzerPrediction
from statistic import Statistic
from utils import UtilsKy

In [14]:
UtilsKy.DB_TEACH_KYW3

'/mnt/files/workdata/work/merchants/merchant_33_kyw3_2020-06-05/04_experiments/ex_01_some_teach/db_teach_2_digit_status_kyw3_from_2019-11-20_to_2020-03-13.csv'

In [15]:
UtilsKy.DB_TEST_KYW3

'/mnt/files/workdata/work/merchants/merchant_33_kyw3_2020-06-05/04_experiments/ex_01_some_teach/db_test_2_digit_status_kyw3a_from_2020-04-06_to_2020-05-06.csv'

In [22]:
# kyw3
db_teach = pd.read_csv(UtilsKy.DB_TEACH_KYW3, dtype=str, encoding='cp1251')
db_test = pd.read_csv(UtilsKy.DB_TEST_KYW3 , dtype=str, encoding='cp1251')
# white = pd.read_csv(UtilsKy.WHITE_KYW3 , dtype=str)

In [5]:
# DataFrame.corr(method='pearson', min_periods=1) {‘pearson’, ‘kendall’, ‘spearman’}

In [23]:
one_factor_cor = Statistic.get_correlation_summarise(db_teach, db_test, 'amount')

In [24]:
one_factor_cor

          p_x       p_y
p_x  1.000000  0.329933
p_y  0.329933  1.000000

In [30]:
list(db_teach)

['amount',
 'amount_deviation',
 'bank_currency',
 'bin',
 'city',
 'count_months_to_end_card',
 'day_of_week',
 'gender2',
 'hour',
 'id',
 'is_city_resolved',
 'is_gender_undefined',
 'latitude',
 'longitude',
 'order_id',
 'phone_2_norm',
 'status']

In [34]:
drop_columns = ['id', 'order_id']
# db_teach.drop(columns=drop_columns, inplace=True)
# db_test.drop(columns=drop_columns, inplace=True)

In [40]:
full_correlation_statistic = Statistic.get_correlation_summarise_all_factors(db_teach, db_test, method='kendall')
full_correlation_statistic

                        name     value
0                     amount  0.329933
1           amount_deviation  0.606061
2              bank_currency  0.131762
3                        bin  0.237723
4                       city  0.118343
5   count_months_to_end_card  0.114433
6                day_of_week  0.428571
7                    gender2  0.333333
8                       hour  0.260870
9           is_city_resolved  1.000000
10       is_gender_undefined  1.000000
11                  latitude  0.055366
12                 longitude  0.054178
13              phone_2_norm  0.192979
14                    status  1.000000

In [41]:
full_correlation_statistic = Statistic.get_correlation_summarise_all_factors(db_teach, db_test, method='pearson')
full_correlation_statistic

                        name     value
0                     amount  0.284635
1           amount_deviation  0.857368
2              bank_currency  0.063717
3                        bin  0.187630
4                       city  0.084629
5   count_months_to_end_card  0.229016
6                day_of_week  0.494730
7                    gender2  0.447106
8                       hour  0.521532
9           is_city_resolved  1.000000
10       is_gender_undefined  1.000000
11                  latitude  0.048426
12                 longitude  0.048269
13              phone_2_norm  0.364785
14                    status  1.000000

In [42]:
full_correlation_statistic = Statistic.get_correlation_summarise_all_factors(db_teach, db_test, method='spearman')
full_correlation_statistic

                        name     value
0                     amount  0.351991
1           amount_deviation  0.776224
2              bank_currency  0.149438
3                        bin  0.257822
4                       city  0.126663
5   count_months_to_end_card  0.134981
6                day_of_week  0.571429
7                    gender2  0.500000
8                       hour  0.383478
9           is_city_resolved  1.000000
10       is_gender_undefined  1.000000
11                  latitude  0.057830
12                 longitude  0.056550
13              phone_2_norm  0.266569
14                    status  1.000000

In [44]:
df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
...                   columns=['dogs', 'cats'])
df

   dogs  cats
0   0.2   0.3
1   0.0   0.6
2   0.6   0.0
3   0.2   0.1