In [68]:
import pandas as pd
import numpy as np
import re

In [69]:
# Wilcoxon signed-rank test
from numpy.random import seed
from numpy.random import randn
from scipy.stats import wilcoxon

In [70]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)

In [71]:
from statistic import Statistic

In [115]:
# If probability < alfa = different values 

def wilcoxon_test(data1, data2, alpha= 0.05):
    stat, p = wilcoxon(data1, data2)
    print('Statistics=%.3f, p=%.3f, thereshold=%.3f' % (stat, p,alpha))
        
    if p > alpha:
        print('Same distribution (fail to reject H0)')
    else:
        print('Different distribution (reject H0)')

In [73]:
data2 = '7.41	11.11	13.32	15.03	17.23	20.55	21.89	23.78	38.23'.split('\t')
data2 = [ float(d) for d in data2 ]
data2

[7.41, 11.11, 13.32, 15.03, 17.23, 20.55, 21.89, 23.78, 38.23]

In [74]:
# generate two independent samples
data1 = 5 * randn(100) + 50
data2 = 5 * randn(100) + 51

In [75]:
data1 = [9.07, 14.38, 15.73, 19.90, 22.01, 23.56, 25.79, 30.69, 42.82]
data2 = [7.20, 17.02, 18.59, 19.83, 20.96, 21.31, 23.38, 26.68, 42.36]
data3 = [7.41, 11.11, 13.32, 15.03, 17.23, 20.55, 21.89, 23.78, 38.23]

In [78]:
# compare samples
wilcoxon_test(data1, data2)

Statistics=15.000, p=0.374, thereshold=0.050
Same distribution (fail to reject H0)

In [79]:
wilcoxon_test(data1, data3)

Statistics=0.000, p=0.008, thereshold=0.050
Different distribution (reject H0)

In [80]:
wilcoxon_test(data2, data3)

Statistics=1.000, p=0.011, thereshold=0.050
Different distribution (reject H0)

In [ ]:
# Compare data from covid deaths from USA

In [83]:
path_covid = parentdir + '/data_covid/'
path_2020 = path_covid + 'Provisional_COVID-19_Death_Counts_by_Week_Ending_Date_and_State.csv'
path_2019_2020 = path_covid + 'VSRR_-_State_and_National_Provisional_Counts_for_Live_Births__Deaths__and_Infant_Deaths.csv'
df_cov_2020 = pd.read_csv(path_2020  , dtype=str)
df_2019_2020 = pd.read_csv(path_2019_2020  , dtype=str)

In [84]:
list(df_cov_2020)

['Data as of',
 'Start week',
 'End Week',
 'Group',
 'State',
 'Indicator',
 'COVID-19 Deaths',
 'Total Deaths',
 'Percent of Expected Deaths',
 'Pneumonia Deaths',
 'Pneumonia and COVID-19 Deaths',
 'Influenza Deaths',
 'Pneumonia, Influenza, or COVID-19 Deaths',
 'Footnote']

In [90]:
df_cov_2020.loc[:,'Total Deaths'] = pd.to_numeric(df_cov_2020['Total Deaths'], errors="coerce")

In [93]:
# Statistic.get_table(df_cov_2020, 'State')

In [94]:
df_US = df_cov_2020[df_cov_2020.State == 'United States'].copy()

In [95]:
df_US.shape

(36, 14)

In [96]:
data1 = df_US['Total Deaths'].values[:10]
data2 = df_US['Total Deaths'].values[10:20]
data3 = df_US['Total Deaths'].values[20:30]

In [97]:
df = pd.DataFrame(data={'d1': data1, 'd2':data2, 'd3':data3})
df

        d1       d2       d3
0  58606.0  78915.0  57654.0
1  59314.0  76573.0  58134.0
2  58723.0  73663.0  59381.0
3  58761.0  69074.0  61319.0
4  59193.0  66655.0  62350.0
5  59600.0  64312.0  63005.0
6  58571.0  61420.0  62383.0
7  59109.0  59455.0  62189.0
8  62894.0  58659.0  61369.0
9  72154.0  57758.0  58977.0

In [98]:
wilcoxon_test(data1, data2, alpha=0.1)

Statistics=10.000, p=0.074, thereshold=0.100
Different distribution (reject H0)

In [99]:
wilcoxon_test(data2, data3,  alpha=0.1)

Statistics=12.000, p=0.114, thereshold=0.100
Same distribution (fail to reject H0)

In [100]:
wilcoxon_test(data1, data3, alpha=0.1)

Statistics=19.000, p=0.386, thereshold=0.100
Same distribution (fail to reject H0)

In [101]:
df_2019_2020.head()

           State  Year     Month   Period              Indicator Data Value
0  UNITED STATES  2019   January  Monthly  Number of Live Births     311000
1  UNITED STATES  2019  February  Monthly  Number of Live Births     280000
2  UNITED STATES  2019     March  Monthly  Number of Live Births     304000
3  UNITED STATES  2019     April  Monthly  Number of Live Births     299000
4  UNITED STATES  2019       May  Monthly  Number of Live Births     316000

In [102]:
df_2019_2020.loc[:,'Data Value'] = pd.to_numeric(df_2019_2020.loc[:,'Data Value'], errors="coerce")

In [103]:
mask = (df_2019_2020.State == 'UNITED STATES') & (df_2019_2020.Indicator == 'Number of Deaths')
df_usa = df_2019_2020[mask].copy()

In [104]:
mask = (df_usa.Year == '2020') & (df_usa.Period == 'Monthly')
df_usa_2020 = df_usa[mask]
df_usa_2020

            State  Year     Month   Period         Indicator  Data Value
27  UNITED STATES  2020   January  Monthly  Number of Deaths      263000
28  UNITED STATES  2020  February  Monthly  Number of Deaths      243000
29  UNITED STATES  2020     March  Monthly  Number of Deaths      268000

In [105]:
mask = (df_usa.Year == '2019') & (df_usa.Period == 'Monthly')
df_usa_2019 = df_usa[mask]
df_usa_2019

            State  Year      Month   Period         Indicator  Data Value
15  UNITED STATES  2019    January  Monthly  Number of Deaths      258000
16  UNITED STATES  2019   February  Monthly  Number of Deaths      233000
17  UNITED STATES  2019      March  Monthly  Number of Deaths      255000
18  UNITED STATES  2019      April  Monthly  Number of Deaths      235000
19  UNITED STATES  2019        May  Monthly  Number of Deaths      237000
20  UNITED STATES  2019       June  Monthly  Number of Deaths      225000
21  UNITED STATES  2019       July  Monthly  Number of Deaths      229000
22  UNITED STATES  2019     August  Monthly  Number of Deaths      227000
23  UNITED STATES  2019  September  Monthly  Number of Deaths      223000
24  UNITED STATES  2019    October  Monthly  Number of Deaths      238000
25  UNITED STATES  2019   November  Monthly  Number of Deaths      239000
26  UNITED STATES  2019   December  Monthly  Number of Deaths      256000

In [107]:
col_names = ['Year', 'Month', 'Data Value']
df = pd.merge(df_usa_2020[col_names], df_usa_2019[col_names], how='left', on=['Month'])

In [108]:
df['percent'] = round((df['Data Value_x']/df['Data Value_y'] -1) *100,2)
df

  Year_x     Month  Data Value_x Year_y  Data Value_y  percent
0   2020   January        263000   2019        258000     1.94
1   2020  February        243000   2019        233000     4.29
2   2020     March        268000   2019        255000     5.10

In [110]:
wilcoxon_test(df['Data Value_y'].values,df['Data Value_x'].values, alpha=0.11)

Statistics=0.000, p=0.109, thereshold=0.110
Different distribution (reject H0)

In [111]:
mask = df_usa.Period == 'Monthly'
dt = df_usa[mask].copy()
dt

            State  Year      Month   Period         Indicator  Data Value
15  UNITED STATES  2019    January  Monthly  Number of Deaths      258000
16  UNITED STATES  2019   February  Monthly  Number of Deaths      233000
17  UNITED STATES  2019      March  Monthly  Number of Deaths      255000
18  UNITED STATES  2019      April  Monthly  Number of Deaths      235000
19  UNITED STATES  2019        May  Monthly  Number of Deaths      237000
20  UNITED STATES  2019       June  Monthly  Number of Deaths      225000
21  UNITED STATES  2019       July  Monthly  Number of Deaths      229000
22  UNITED STATES  2019     August  Monthly  Number of Deaths      227000
23  UNITED STATES  2019  September  Monthly  Number of Deaths      223000
24  UNITED STATES  2019    October  Monthly  Number of Deaths      238000
25  UNITED STATES  2019   November  Monthly  Number of Deaths      239000
26  UNITED STATES  2019   December  Monthly  Number of Deaths      256000
27  UNITED STATES  2020    January  Monthly  Number of Deaths      263000
28  UNITED STATES  2020   February  Monthly  Number of Deaths      243000
29  UNITED STATES  2020      March  Monthly  Number of Deaths      268000

In [112]:
data1 = dt['Data Value'].values[:7]
data2 = dt['Data Value'].values[8:15]

In [114]:
wilcoxon_test(data1,data2, alpha=0.11)

Statistics=8.000, p=0.310, thereshold=0.110
Same distribution (fail to reject H0)

In [116]:
df_2019_2020.head()

           State  Year     Month   Period              Indicator  Data Value
0  UNITED STATES  2019   January  Monthly  Number of Live Births      311000
1  UNITED STATES  2019  February  Monthly  Number of Live Births      280000
2  UNITED STATES  2019     March  Monthly  Number of Live Births      304000
3  UNITED STATES  2019     April  Monthly  Number of Live Births      299000
4  UNITED STATES  2019       May  Monthly  Number of Live Births      316000

In [120]:
df_cov_2020.head(20)

,Data as of,Start week,End Week,Group,State,Indicator,COVID-19 Deaths,Total Deaths,Percent of Expected Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,10/06/2020,02/01/2020,02/01/2020,By week,United States,Week-ending,0,58606.0,0.99,3798,0,479,4277,NaN
1,10/06/2020,02/08/2020,02/08/2020,By week,United States,Week-ending,1,59314.0,0.99,3801,0,521,4323,NaN
2,10/06/2020,02/15/2020,02/15/2020,By week,United States,Week-ending,0,58723.0,1,3831,0,559,4390,NaN
3,10/06/2020,02/22/2020,02/22/2020,By week,United States,Week-ending,5,58761.0,1.01,3699,1,565,4268,NaN
4,10/06/2020,02/29/2020,02/29/2020,By week,United States,Week-ending,10,59193.0,1.03,3824,5,654,4483,NaN
5,10/06/2020,03/07/2020,03/07/2020,By week,United States,Week-ending,35,59600.0,1.03,3961,17,635,4613,NaN
6,10/06/2020,03/14/2020,03/14/2020,By week,United States,Week-ending,53,58571.0,1.03,3964,28,625,4613,NaN
7,10/06/2020,03/21/2020,03/21/2020,By week,United States,Week-ending,571,59109.0,1.04,4539,252,559,5410,NaN
8,10/06/2020,03/28/2020,03/28/2020,By week,United States,Week-ending,3157,62894.0,1.13,6168,1426,441,8290,NaN
9,10/06/2020,04/04/2020,04/04/2020,By week,United States,Week-ending,10019,72154.0,1.29,9906,4755,478,15413,NaN
10,10/06/2020,04/11/2020,04/11/2020,By week,United States,Week-ending,16177,78915.0,1.42,11983,7223,474,21071,NaN
11,10/06/2020,04/18/2020,04/18/2020,By week,United States,Week-ending,17065,76573.0,1.42,11383,7303,266,21222,NaN
12,10/06/2020,04/25/2020,04/25/2020,By week,United States,Week-ending,15428,73663.0,1.37,10356,6594,144,19237,NaN
13,10/06/2020,05/02/2020,05/02/2020,By week,United States,Week-ending,13146,69074.0,1.29,8931,5513,65,16609,NaN
14,10/06/2020,05/09/2020,05/09/2020,By week,United States,Week-ending,11166,66655.0,1.26,7822,4705,47,14320,NaN
15,10/06/2020,05/16/2020,05/16/2020,By week,United States,Week-ending,9162,64312.0,1.23,6755,3771,21,12164,NaN
16,10/06/2020,05/23/2020,05/23/2020,By week,United States,Week-ending,7161,61420.0,1.18,5869,2957,24,10092,NaN
17,10/06/2020,05/30/2020,05/30/2020,By week,United States,Week-ending,6107,59455.0,1.15,5255,2475,12,8899,NaN
18,10/06/2020,06/06/2020,06/06/2020,By week,United States,Week-ending,4987,58659.0,1.12,4869,2134,11,7733,NaN
19,10/06/2020,06/13/2020,06/13/2020,By week,United States,Week-ending,4191,57758.0,1.11,4514,1854,11,6859,NaN